$font-cormorant: 'Cormorant Infant', serif;
$font-josefin: 'Josefin Sans', sans-serif;

$white: #ffffff;
$black: #292e36;
$orange: #e1b168;
$gray: #555555;
$beg: #fff8f5;

$bg-orange: rgba(255, 248, 245, 1);
$bg-gray: rgba(41, 46, 54, 1);

body {
  color: $gray;
  font-family: $font-josefin;
  letter-spacing: 1.1px;
  line-height: 30px;
}
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}
button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
  letter-spacing: 1.7px;
}
a {
  color: inherit;
  text-decoration: none;
  &.active {
    color: $orange;
  }
}
.white_text {
  color: $white;
}
h2 {
  font-family: $font-cormorant;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.2px;
  margin: 0;
  text-transform: capitalize;
}
h3.menu_title {
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 3px;
  color: $black;
  margin-bottom: 22px;
  text-transform: uppercase;
  &::before {
    content: '';
    display: block;
    height: 1px;
    background: $orange;
    width: 60px;
    margin: 0 0 5px 0;
  }
  &::after {
    content: '';
    display: block;
    height: 1px;
    background: $orange;
    width: 60px;
    margin: 0;
  }
  &_testimonial {
    color: $white;
    &::before {
      width: 141px;
    }
    &::after {
      width: 141px;
    }
  }
  &_offertext {
    &::before {
      margin: 0 auto 5px auto;
      width: 80px;
    }
    &::after {
      margin: 0 auto;
      width: 80px;
    }
  }
  &_offer {
    margin: 70px 0 20px;
    letter-spacing: 4.5px;
    &::before {
      width: 213px;
      background: $black;
    }
    &::after {
      background: $black;
      width: 213px;
    }
  }
  &_service {
    color: $white;
    margin-top: 0;
    &::before {
      width: 180px;
    }
    &::after {
      width: 180px;
    }
  }
}
h4 {
  font-family: 'Cormorant Infant', serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  line-height: 17.4px;
  letter-spacing: 0.2px;
}
h5 {
  font-family: $font-cormorant;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  margin: 0;
}
.title,
p {
  margin: 0;
}
p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.button {
  border: 2px solid #e1b168;
  cursor: pointer;
  height: 74px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-basis: 21.5%;
  justify-content: center;
  transition: 0.2s;
  font-size: 22px;
  &:hover {
    background-color: $orange;
    color: $black;
  }
}
.main {
  overflow-x: hidden;
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  &__text {
    max-width: 616px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__cover {
    display: flex;
    flex-basis: 50%;
    height: 740px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
  &__bg {
    background-color: $bg-gray;
  }
  &__link {
    color: $orange;
    max-width: 230px;
  }
  &__image {
    display: flex;
  }
  &__window {
    background-image: url(../images/main/window.png);
    background-size: cover;
    height: 740px;
    width: 595px;
    border: 30px solid $black;
    border-bottom: 0;
    box-shadow: 0 -30px 0 0 rgba(255, 255, 255, 0.1),
      30px 0 0 0 rgba(255, 255, 255, 0.1), -30px 0 0 0 rgba(255, 255, 255, 0.1);
    position: relative;
  }
}
.line1 {
  background-image: url(../images/main/line1.svg);
  height: 311px;
  width: 311px;
  position: absolute;
  top: -4px;
  right: -14px;
}
.line2 {
  background-image: url(../images/main/line2.svg);
  height: 250px;
  width: 250px;
  position: absolute;
  top: 26px;
  right: 15px;
}
.line3 {
  background-image: url(../images/main/line3.svg);
  height: 210px;
  width: 210px;
  position: absolute;
  top: 46px;
  right: 38px;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.header {
  background-color: $bg-gray;
  color: $white;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 35px;
    letter-spacing: 0.2px;
    flex-basis: 41vw;
    font-size: 20px;
    &_flex {
      display: flex;
      justify-content: space-between;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
  }
  &__item {
    transition: 0.2s;
    &:hover {
      color: $orange;
    }
  }
}
.logo {
  display: block;
  background-image: url(../images/header_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 188px;
  width: 378px;
}
.line {
  border-top: 1px solid $gray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social {
  display: flex;
  height: 23px;
  flex-basis: 9.5vw;
  justify-content: space-between;
  &__link {
    display: inline-block;
    width: 24px;
    height: 23px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &_IG {
      background-image: url(../images/social/IG.svg);
    }
    &_FB {
      background-image: url(../images/social/FB.svg);
    }
    &_TW {
      background-image: url(../images/social/TW.svg);
    }
    &_P {
      background-image: url(../images/social/P.svg);
    }
  }
}
.title {
  color: $white;
  font-family: $font-cormorant;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.2px;
}
.description {
  color: $white;
}
.location {
  padding-top: 100px;
  margin-bottom: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    display: flex;
    gap: 20px;
    &::before {
      content: '';
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      height: 83px;
      width: 83px;
      background-color: #292e36;
      border-radius: 100%;
    }
    &_description {
      font-size: 20px;
    }
    &_locate {
      &::before {
        background-image: url(../images/location/location.svg);
        background-size: 52px 52px;
      }
    }
    &_hours {
      &::before {
        background-image: url(../images/location/hours.svg);
        background-size: 44px 44px;
      }
    }
    &_reservation {
      &::before {
        background-image: url(../images/location/reservation.svg);
        background-size: 39px 39px;
      }
    }
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      letter-spacing: 0.2px;
    }
    &_name {
      font-family: $font-cormorant;
      font-weight: 400;
      font-size: 30px;
      line-height: 39px;
    }
  }
}
.bg_beg {
  background-color: $beg;
}
.bg_black {
  background-color: $black;
}
.story {
  display: flex;
  justify-content: space-between;
  padding-bottom: 125px;
  &__cover {
    display: flex;
    width: 100%;
    max-width: 40.1vw;
    height: 28.1vw;
    position: relative;
    overflow: hidden;
    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      max-width: 40.1vw;
      height: 28.1vw;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 31vw;
    margin-top: 9px;
    &_item {
      display: flex;
      flex-direction: column;
      gap: 29px;
      &:last-child {
        gap: 20px;
      }
      &_column {
        display: flex;
        gap: 20px;
      }
    }
  }
}
.sign_image {
  height: 111px;
  width: 200px;
}
.food {
  display: flex;
  justify-content: space-between;
  &__menu {
    margin: 140px 0 198px 0;
    &_name {
      gap: 8px;
    }
    &_image {
      margin: 46px 0px;
    }
    &_img {
      width: 84px;
      height: 84px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $beg;
    }
    &_information {
      flex-basis: 36%;
      & .main__link {
        max-width: 255px;
      }
    }
    &_container {
      flex-basis: 60.4%;
    }
    &_card {
      display: flex;
      flex-direction: column;
      gap: 51px;
      margin-top: 90px;
      &:first-child {
        margin: 0;
      }
    }
    &_item {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &_name {
      display: flex;
      flex-direction: column;
    }
    &_description {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }
    &_price {
      font-family: $font-cormorant;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.2px;
      line-height: 42px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 8px;
    }
    &_text h2 {
      margin-bottom: 28px;
    }
  }
}
.separator {
  content: '';
  display: flex;
  flex-grow: 1;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 8px;
  margin-left: 18px;
  margin-right: 18px;
}
.circle-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial {
  &__text {
    padding: 124px 0 79px;
    p {
      margin-top: 23px;
    }
  }
}
.swiper {
  overflow-x: visible;
  &-wrapper {
    padding-bottom: 120px;
    margin-bottom: 109px;
  }
  &-slide {
    cursor: pointer;
    height: 322px;
    background-color: rgba(52, 57, 66, 1);
    padding: 0 36px;
    &__top {
      display: flex;
      gap: 30px;
      align-items: center;
    }
    &__cover {
      position: relative;
      overflow: hidden;
      width: 113px;
      height: 113px;
      border-radius: 100%;
    }
    &__image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -o-object-fit: contain;
      object-fit: contain;
      width: 100%;
      height: 113px;
    }
    &__initials {
      h5 {
        color: $white;
      }
      p {
        color: $orange;
      }
    }
    &__text {
      font-family: $font-cormorant;
      font-size: 24px;
      letter-spacing: 0.25px;
      color: $white;
      line-height: 37.5px;
    }
    & span {
      margin: 0;
      border-bottom: 1px solid #797e89;
      margin: 31px 0;
    }
  }
  &-pagination-bullet {
    height: 20px;
    width: 20px;
    background-color: rgba($white, 0.4);
    &-active {
      background-color: rgba($white, 1);
    }
  }
}
.circle {
  background-image: url(/src/images/testimonial/vector.svg);
  background-size: 16px 16px;
  width: 26px;
  height: 26px;
  background-color: $orange;
  box-shadow: 0 0 0 2px $black;
  border-radius: 100%;
  background-color: $orange;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 2px;
  left: 38px;
  z-index: 1;
}
.banner {
  &__cover {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 127px;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}
.offer {
  flex-basis: 49%;
  display: flex;
  align-items: center;
  &__main_text {
    text-align: center;
    & p {
      margin: 24px auto 38px;
      max-width: 785px;
    }
  }
  &_left {
    background-image: url(../images/offer/left_bg.png);
    background-size: cover;
  }
  &_right {
    background-image: url(../images/offer/right_bg.png);
    background-size: cover;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 108px;
  }
  &__content {
    padding: 63px 41px 40px 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.15px;
    line-height: 10.5px;
    color: $black;
    position: relative;
    margin-left: 25px;
    &::before {
      content: '';
      background-image: url(../images/offer/price_image_white.png);
      height: 104px;
      width: 167px;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: -10px;
      left: -36px;
      z-index: -1;
    }
    & span {
      font-size: 60px;
      letter-spacing: 0.2px;
      font-family: $font-cormorant;
      display: block;
      line-height: 66px;
    }
  }
  &__text {
    z-index: 1;
    & h2 {
      margin-bottom: 20px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    max-width: 325px;
  }
}
.catalog__grid {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 47px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_cover {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 307px;
    }
    &_img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
      width: 100%;
      height: 307px;
      opacity: 0.8;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    &_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 17px;
    }
  }
}
button.button {
  margin-top: 63px;
  margin-bottom: 140px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: $orange;
  padding: 0px 56px;
  letter-spacing: 0.2px;
}
hr {
  margin: 15px 0;
  padding: 0;
  height: 0;
  border-top: 1px solid rgba($gray, 0.2);
}
.service {
  &__box {
    display: flex;
    justify-content: space-between;
    margin: 140px 0;
    &_text {
      flex-basis: 25vw;
      & p {
        margin-top: 28px;
      }
    }
    &_list {
      display: grid;
      gap: 36px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    align-items: center;
    color: $white;
    font-size: 25px;
    font-family: $font-cormorant;
    font-weight: 400;
    text-align: center;
    border: 20px solid rgba(50, 56, 65, 1);
    width: 210px;
    aspect-ratio: 1.08;
    &::before {
      content: '';
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      height: 60px;
      width: 60px;
    }
    &_opened::before {
      background-image: url(/src/images/opened.svg);
    }
    &_menus::before {
      background-image: url(/src/images/menu.svg);
    }
    &_home::before {
      background-image: url(/src/images/home.svg);
    }
  }
}
