$font-inter: 'Inter', sans-serif;

$gray: #f3f2f0;
$black: #232326;
$red: #d40000;
$white: #ffffff;
$bg-gray: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);

$r_desk_hd: 1200px;
$r_desk: 1000px;
$r_tab: 768px;
$r_tab_600: 600px;
$r_tab_430: 430px;
